/*Estilos de la pagina*/
header, footer, aside, main{
    background-color: lightpink;
    color:lightpink;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin: 5px;
}
/*estilo de section*/
#seccion{
    display:flex;
    flex-direction: row;
}

h3{
    color:lightgoldenrodyellow;
    font-weight: bolder;

}
/*estilo del h2 dentro del main*/
h2{
    text-align: center;
    color:whitesmoke;
    text-decoration:underline;
    flex-basis: 80%;  
}
/*estilo del p dentro del main*/

main p {
    color: black;
    font-size: 65%;
    margin-left: 220px;
    margin-right: 150px;
}

aside{
    flex-basis: 31%;
}
aside article{
    background-color: lightyellow;
    color: black;
    border-radius: 5px;
    font-size: 90%;
    padding: 15px;
    margin: 50px;
    text-align: center;
}


header article{
    background-color:lightyellow;
    font-size: 50px;
    margin: 5px;
    padding: 5px;
    padding-top: 12px;
    text-align: center;
    border-radius: 5px;
}

.contenedor {
    justify-content: space-evenly;
    display: flex; 
}

.imagen-float{
    float: left;
    width: 150px;
    border-radius: 10px;
    height: 100px;
    margin-left: 5px;
    margin-top: 15px;
}


main article{
    background-color:lightyellow;
    color: black;
    font-size: 30px;
    margin:auto;
    padding: 5px;
    border-radius: 5px;
}

.imagen-god{
    width:1000px;
    height:500px;
    margin-left: 15%;
    border-radius: 10px;
}

footer h6{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin: 15px;
}

footer{
    flex-basis: 25%;
    padding: 1px;
}